/* VIDEO CARD */

.video-card{

background:#FFF7E8;
border:3px solid #F5B335;

}

/* marco estilo tarjeta */

.video-frame{

position:relative;
padding:10px;
background:white;

}

.video-frame video{

width:100%;
border-radius:12px;
display:block;

}

/* etiqueta del video */

.play-label{

position:absolute;
bottom:12px;
left:12px;

background:#E4564D;
color:white;

padding:6px 12px;
border-radius:20px;

font-size:14px;

box-shadow:0 4px 10px rgba(0,0,0,0.2);

}
